@font-face{
    font-family: 'manrope';
    src: url(.\Manrope\Manrope-VariableFont_wght.ttf) format('truetype-variations');
    font-weight: 200 800;
    font-style: normal;
}
html{
    display: inline;
}
body, html{
    min-height: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'manrope';
    background-color: hsl(210, 46%, 95%);
    margin: 30px 0;
    font-size: 13px;
}

main{
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 5px 15px 1px rgba(128, 128, 128, 0.319);
}

article{
    padding-bottom: 0px;
}

section p{
    margin: 10px auto 10px 20px;
    color: hsl(214, 17%, 51%);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    width: 80%;
}
h4{
    margin: 5px auto 0 20px;
    color: hsl(217, 19%, 35%);
    width: 80%;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}
#drawer{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 7px 7px 0 0;
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 80%;
    margin: 0 auto 0 20px;
    padding-top: 2px;
}
#pic{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.share-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 5px 0 auto 0;
    background-color: hsl(210, 46%, 95%);
}
#info p{
    margin: 0;
}
#info-1{
    color: hsl(217, 19%, 35%);
}
#info-2{
    color: hsl(214, 17%, 51%);
    font-size: 12px;
}
#icons p, #icons img{
    margin-right: 10px;
}
.author{
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-bottom: 20px;
}
.share-panel{
    background-color: hsl(217, 19%, 35%); 
    width: 85%; 
    margin: 0 auto; 
    display: none; 
    padding: 0 20px; 
    height: 40px; 
    align-items: center;
}
.share-panel p{
    color: hsl(212, 23%, 69%); 
    display: inline;
    margin-left: 20px;
}
#ic1{
    margin-left: 25px;
}
#ic2, #ic3{
    margin-left: 15px;
}
.card-footer.active{
    width: 100%;
    margin: 0;
    background-color: hsl(217, 19%, 35%);
    justify-content: left;
    padding: 11px 0;
    border-radius: 0 0 7px 7px;
}
.card-footer.active .author{
    display: none;
}
.card-footer.active .share-panel{
    display: flex;
    padding: 0;
    margin: 0;
}
.card-footer.active .share-button{
    margin-right: 45px;
}

@media(min-width: 1440px){
    html{
        outline: 1px solid red;
        width: 100%;
        height: 100%;
    }
    body{
        transform: translateY(180px);
        margin: auto;
        width: 60%;
    }
    article{
        margin: auto;
        display: grid;
        grid-template-columns: 45% 1fr;
        grid-template-rows: auto auto;
    }
    #drawer{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px 0 0 7px;
        grid-row: 1 / 3;
    }
    section{
        grid-column: 2;
        grid-row: 1;
        padding-top: 5px;
        width: 85%;
    }
    .card-footer{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 10px 10px 20px 0;
        margin-left: 25px;
        width: 87%;
    }
    .card-footer.active{
        justify-content: space-between;
        background-color: white;
        margin-left: 25px;
        padding: 10px 0 20px 0;
        width: 89%;
        border-radius: 0;
    }
    .share-button{
        margin: 15px 0 auto auto;
        position: relative;
        bottom: 0px;
        cursor: pointer;
    }
    .card-footer.active .share-button{
        margin-right: 8px;
    }
    #pic{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    h4{
        margin: 25px auto 10px 25px;
    }
    section p{
        margin: 10px auto 0px 25px;
        width: 100%;
    }
    .author{
        display: flex;
        flex-direction: row; 
    }
    #info-1, #info-2{
        margin: 0;
    }
    .card-footer.active .share-panel{
        display: none;
        flex-direction: row;
        padding: 10px 30px 10px 15px;
        border-radius: 7px;
        width: 25%; 
        position: absolute;
        bottom: 115px;
        left: 80%;
        transform: translateX(-21%);
    }
    .share-panel::after{
        content: '';
        position: absolute;
        left: 47%;
        bottom: -13.5px;
        transform: translateX(-60%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid hsl(217, 19%, 35%);
        border-left-width: 15px;
        border-right-width: 15px;
        border-top-width: 15px;
    }
    .share-panel p{
        margin-right: 10px;
    }
    #ic1{
        margin-left: 30px;
    }
    .card-footer.active .share-panel{
        display: flex;
    }
    .card-footer.active .author{
        display: flex;
    }
}
